
body {
    background-color: #fffaf0; 
    /* font-family: sans-serif; */

}
input, textarea {
    font-family: "Arial", "Helvetica", sans-serif; /* 例：シンプルなフォントに統一 */
    font-size: 12px; /* 必要に応じて文字サイズも統一 */
    font-weight:bold;
    line-height: 1.5;
  }

.mapg{
    background-image: url("../img/map.JPG"); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.map{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    display: block;
}
.main-container {
    max-width: 750px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fffaf0; /* 少し暖かい白色 */
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(141, 107, 91, 0.4);
    flex-wrap: wrap; 
}

.topbutton{
    display: flex;
    justify-content: center;     /* 中央揃え */
    gap: auto;                   /* ボタンの間隔 */
    flex-wrap: wrap;             /* スマホなど狭い画面で折り返す */
}
button[type="menu"]{
    display: inline-block; 
    font-size: 15px;
         border: #ffd61a;
         background: #9f6700;
         color: white;
         width: 140px;
         height: 45px;
         margin: 10px ;
         border-radius: 60px;
         font-weight: 800; 
            cursor: pointer;
}
 
 button[type="menu"]:hover {
     background-color: rgb(234, 204, 133);
     color: white;
     cursor: pointer; /* カーソルを矢印に変更 */
     transform: scale(1.1); /* 要素を1.1倍に拡大 */
     transition: transform 0.3s ease;
     box-shadow: 0 0 10px rgba(141, 107, 91, 0.4);
   }


.double-line-deco {
    height: 10px;
    border-top: 3px solid #9f6700;
    border-bottom: 3px solid #9f6700;
    margin: 20px 0;
  }

.imgtrip{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

.imghikouki{
    width: 70px;
    height: 70px;
    margin-left: 670px;
    margin-bottom: -72px;
    position: absolute; 
    /* 画像が最前線に来るようにする */
    z-index: 9999;
    /* 追加：20度回転 */
    transform: rotate(20deg);
}

.imgcar{
    width: 70px;
    height: 70px;
    margin-left: 220px;
    margin-top: -40px;
    position: absolute; 
    /* 画像が最前線に来るようにする */
    z-index: 9999;
}

.formcontent-kanso,
.formcontent-memo,
.formcontent-schedule1,
.formcontent-schedule2,
.formcontent-schedule3,
.formcontent-schedule4,
.formcontent-schedule5,
.formcontent-schedule6,
input[type="text"],
textarea {
    color: #9f6700;
}

.form {
    padding: 0 20px; /* ← 左右20pxの余白 */
  }

.form-top,
.form-memo-photo-schedule {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }


.formtitle{
    font-size: 20px;
    font-weight: 800;
    color: #9f6700;

}

.form-top{
    display: flex;
    gap: 40px;
}

.form-block{
    display: flex;
    flex-direction: column;
}

.formcontent-hiduke{
    width: 350px;
    height: 40px;
    border: 2px solid #9f6700;
    border-radius: 10px;
    font-size: 20px;
}
input[type="date"]{
    width: 250px;
    height: 40px;
    border: 2px solid #9f6700;
    border-radius: 10px;
    color: #9f6700;
    font-size: 18px;

}


.formcontent-spot{
    width: 400px;
    height: 40px;
    border: 2px solid #9f6700;
    border-radius: 10px;
    font-size: 20px;
}

.formcontent-kanso{
    width: 100%;
    max-width: 750px;
    height: 50px;
    border: 2px solid #9f6700;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.formcontent-memo{
    width: 250px;
    height: 100px;
    border: 2px solid #9f6700;
    border-radius: 10px;
    font-size: 20px;
    flex-direction: column;
}

.form-memo-photo-schedule{
    display: flex;
    gap: 40px;
}

.photo{
    display: flex;
    flex-direction: column;
}

.form-right{
    display: flex;
    flex-direction: column;
}

.schedule{
    width: 400px;
    height: 260px;
    border: 2px solid #9f6700;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
}

.schedule-row{
    display: flex;
}

.formcontent-schedule1,.formcontent-schedule2,.formcontent-schedule3,.formcontent-schedule4,.formcontent-schedule5,.formcontent-schedule6{
    width: 300px;
    height: 36px;
    border: 2px solid white;
    border-radius: 10px;
    color: #9f6700;
    font-size: 18px;
}

input[type="time"]{
    width: 100px;
    height: 36px;
    border: 2px solid white;
    border-radius: 10px;
    color: #9f6700;
    font-size: 18px;
}


button[type="file"]{
    font-size: 20px;
         text-align: center;
         border: #ffd61a;
         background: #9f6700;
         color: white;
         width: 250px;
         height: 60px;
         display: flex;
         justify-content: center;
         align-items: center; 
         margin: 60px auto;
         border-radius: 80px;
         font-weight: 800;
}



.preview-img {
    width: 250px;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

.kuma2{
    width: 250px;
    height: auto;
}
/* .preview-img {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    border: 1px solid #ccc;
  } */

  .custom-file-upload {
    display: inline-block;
    background-color: #9f6700;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 8px;
  }
  
  /* input[type="file"] を隠す */
  .custom-file-upload input[type="file"] {
    display: none;
  }
  

button[type="submit"]{
    font-size: 20px;
         text-align: center;
         border: #ffd61a;
         background: #9f6700;
         color: white;
         width: 270px;
         height: 60px;
         display: flex;
         justify-content: center;
         align-items: center; 
         margin: 60px auto;
         border-radius: 60px;
         font-weight: 800;
 }
 
 button[type="submit"]:hover {
     background-color: rgb(234, 204, 133);
     color: white;
     cursor: pointer; /* カーソルを矢印に変更 */
     transform: scale(1.1); /* 要素を1.1倍に拡大 */
     transition: transform 0.3s ease;
     box-shadow: 0 0 10px rgba(141, 107, 91, 0.4);
   }

   .button-style {
    background-color: #c0392b;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-content{
    background-color: #ecd11f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0px 0px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    /* font-weight: bold; */
  }

  .kensaku{
    width: 200px;
    height: 40px;
    border: 2px solid #9f6700;
    border-radius: 10px;
    font-size: 20px;

  }

  .route-map{
    height: 300px; 
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .maptext{
    font-size: 20px;
    font-weight: 800;
    color: #9f6700;
  }

.mapbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    gap: 10px;
}

.mapset{
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchRouteBtn{
    display: flex;
    text-align: center;
    align-items: center; 
    font-size: 16px;
    text-align: center;
    border: #ffd61a;
    background: #9f6700;
    color: white;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 60px auto;
    border-radius: 60px;
    font-weight: 800;
}

.searchRouteBtn:hover {
    background-color: rgb(234, 204, 133);
    color: white;
    cursor: pointer; /* カーソルを矢印に変更 */
    transform: scale(1.1); /* 要素を1.1倍に拡大 */
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(141, 107, 91, 0.4);
  }
